:root{
    // variable pour les colors (darkmode)
    --backgroundCard : #f1f3f5;
    --borderColor : #333;
    --backgroundImg : url('/assets/img/background.jpg');
    --color : #333
}

@mixin responsive($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

#form--formulaire{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    padding: 5px;
    font-size: 14px;
    width: 90%;
    border: 1px solid var(--borderColor);
    background-color: var(--backgroundCard);
    border-radius: 15px;
    @include responsive(768px){
        width: 50%;
        align-self: center;
    }
    label{
        margin-top: 5px;
        span{
            font-weight: bold;
        }
    }
    #submit, #btnAddDate{
        align-self: center;
        margin-top: 5px;
        padding: 7px;
        border-radius: 20px;
        border: 1px solid #333;
        background-color: rgba(124, 19, 181, 0.593);
    }
    input{
        text-indent: 5px;
        padding: 2px;
        border-radius: 5px;
        border: 1px solid #333;
    }
}

#form--popup{
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--borderColor);
    background-color: var(--backgroundCard);
    width: 50%;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 15px;
    div{
        display: flex;
        justify-content: center;
        button{
            margin: 5px;
            width: 40px;
            text-align: center;
            background-color: rgba(124, 19, 181, 0.593);
            border-radius: 20px;
            border: 1px solid #333;
        }
    }
}