@import 'header';
@import 'mainEvent';
@import 'eventTable';
@import 'footer';
@import 'form';

@mixin responsive($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

*, ::after, ::before {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--background);
    @include responsive(768px){
        align-items: center;
    }
    
}

:root{
    // variable pour les colors (darkmode)
    --colorH1:  linear-gradient(100deg, rgba(8,36,79,1) 0%, rgba(125,19,181,1) 57%);
    --background: #fff
}

form{
    display: none;
}




main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include responsive(768px){
        width: 75%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
