*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

:root{
    // variable pour les colors (darkmode)
    --color: #fff
}

@import 'header';